In [2]:
%cd ../../

/home/souvic/mounted/btp/vahini/Name2Demographics

In [20]:
# CBSE best performing : forebears + BERT AIEEE
fcbse = "Models/Baselines/Baselines/Forebears/forebears_cbse.csv"
fer = "Models/Baselines/Baselines/Forebears/forebears_er.csv"
faieee = "Models/Baselines/Baselines/Forebears/forebears_aieee.csv"
mcbse = "Models/Baselines/BERTAIEEE/cbse_sample.csv"
mer ="Models/Baselines/MurilER/cbse_sample.csv"
maieee = "Models/Baselines/BERTAIEEE/aieee_sample.csv"

In [101]:
import pandas as pd

fc = pd.read_csv(fcbse)
fe = pd.read_csv(fer)
fe = fe[:445]
fa = pd.read_csv(faieee)
mc = pd.read_csv(mcbse)
me = pd.read_csv(mer)
ma = pd.read_csv(maieee)

In [102]:
fc.head()

,Unnamed: 0,Name,Gender,first_name,last_name,world_gender
0,0,nandkishore mukati,Male,nandkishore,mukati,m
1,1,ramkranti,Female,ramkranti,NaN,f
2,2,manmohan vyas,Male,manmohan,vyas,m
3,3,suresh prasad malviya,Male,suresh,prasad malviya,m
4,4,ashok kumari devi,Female,ashok,kumari devi,m

In [103]:
f = [fc, fe, fa]
m = [mc, me, ma]
for file in f:
    print(file.shape)
for file in m:
    print(file.shape)

(500, 6)
(445, 15)
(500, 6)
(500, 7)
(501, 7)
(500, 7)

In [104]:
#  create a list
def createdf(f, m):
    df = pd.DataFrame()
    df['Name'] = m['Name']
    df['Gender'] = m['Gender']
    df['Model'] = m['pred']
    df['API'] = 0
    # update df['API']
    for i in range(len(df)):
        name = df.loc[i, 'Name']
        if len(list(f[f['Name']==name].world_gender))>0:
            df.loc[i,'API'] = list(f[f['Name']==name].world_gender)[0]
    return df

In [117]:
cbse_df = createdf(fc, mc)

In [118]:
aieee_df = createdf(fa, ma)

In [119]:
er_df = createdf(fe, me)

In [120]:
import numpy as np

def addColumns(df):
    df['Model'] = [str(elem).replace("0","Female") for elem in df['Model']]
    df['Model'] = [str(elem).replace("1","Male") for elem in df['Model']]
    df['API'] = df['API'].replace(0, np.NaN)
    df['API'] = [str(elem).replace("m","Male") for elem in df['API']]
    df['API'] = [str(elem).replace("f","Female") for elem in df['API']]
    df['M'] = df['Model'] == df['Gender']
    df['A'] = df['API'] == df['Gender']
    return df

In [121]:
# Extract True labels and false labels
def AddErrorCases(df, name):
    df[df['M'] & df['A'] == True].to_csv("Errors/"+name+"_M_true_A_true.csv")
    df[df['M'] & df['A'] == False].to_csv("Errors/"+name+"_M_false_A_false.csv")
    df[(df['M'] == False) & (df['A']== True)].to_csv("Errors/"+name+"_M_false_A_true.csv")
    df[(df['M'] == True) & (df['A'] == False)].to_csv("Errors/"+name+"_M_true_A_false.csv")
    return

In [122]:
er = addColumns(er_df)
AddErrorCases(er, "er")

In [123]:
c1 = addColumns(cbse_df)
AddErrorCases(c1, "cbse")

In [125]:
c1 = addColumns(aieee_df)
AddErrorCases(c1, "aieee")