In [1]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /home/souvic/.conda/envs/py38/lib/python3.8/site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /home/souvic/.conda/envs/py38/lib/python3.8/site-packages (from BeautifulSoup4) (2.3)

In [2]:
import pickle
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
# path
AIEEE = '../../../jalend/aieeedata/'
AIEEE_2004 = AIEEE+'2004.p'
AIEEE_2006 = AIEEE+'2006.p'
AIEEE_2008 = AIEEE+'2008.p'
AIEEE_2009 = AIEEE+'2009.p'
AIEEE_2010 = AIEEE+'2010.p'
AIEEE_2011 = AIEEE+'2011.p'

In [4]:
with (open(AIEEE_2009, "rb")) as openfile:
    ai_09 = pickle.load(openfile)

In [5]:
rolls = ai_09.keys()

In [6]:
rn = []
for key in rolls:
    rn.append(key)

In [7]:
# Paper 1: Physics, Chemistry &amp; Mathematics
# Paper 2: Mathematics, Aptitude Test &amp; Drawing

In [9]:
data = []
count = 0
for elem in rn:
    student = []
    count = count+1
    if count%10000 == 0:
        print(count)
        df = pd.DataFrame(data, columns=['roll_no','name','mother_name','father_name','category','state_no','present','p1_marks','p2_marks','air_btech','air_cat_btech','state_btech','state_cat_btech','air_barch','air_cat_barch','state_barch','state_cat_barch'])
    if ai_09[elem] == "":
        continue
    soup = BeautifulSoup(ai_09[elem],'html.parser')
    tab  = soup.find_all('table', align="center", border="0", width="500")
    info0 = tab[0].find_all('td', align="left")
    roll_no = info0[0].string
    name = info0[1].string
    mother_name = info0[2].string
    father_name = info0[3].string
    info1 = tab[1].find_all('strong')
    category = info1[0].string
    state_no = info1[1].string
    student= student+([roll_no, name, mother_name, father_name, category, state_no])
    taba = soup.find_all('table',width='400')
    if len(tab) <= 2:
        present = False
        student.append(present)
#         print(taba[0].text,":",elem)
    else :
        present = True
        info2 = tab[2].find_all('td', align='right')
        p1_marks = info2[1].string
        p2_marks = info2[2].string
        info = tab[3].find_all('td', align='center')
        air_btech = info[4].text
        air_cat_btech = info[6].text
        state_btech = info[10].text
        state_cat_btech = info[12].text
        air_barch = info[5].text
        air_cat_barch = info[7].text
        state_barch = info[11].text
        state_cat_barch = info[13].text
#         print(name,":", roll_no, ":", mother_name,":", father_name, ":", category,":",state_no,":",p1_marks,":",p2_marks,":")
#         print(air_btech, ":", air_cat_btech,":", state_btech, ":",state_cat_btech,":", air_barch,":", air_cat_barch,":",state_barch,":",state_cat_barch)
        student=student+([present, p1_marks, p2_marks, air_btech, air_cat_btech, state_btech, state_cat_btech, air_barch, air_cat_barch, state_barch, state_cat_barch])
    data.append(student)

10000
20000
30000
40000
50000
70000
80000
90000
100000
110000

In [10]:
df = pd.DataFrame(data, columns=['roll_no','name','mother_name','father_name','category','state_no','present','p1_marks','p2_marks','air_btech','air_cat_btech','state_btech','state_cat_btech','air_barch','air_cat_barch','state_barch','state_cat_barch'])

In [11]:
df.shape

(112579, 17)

In [12]:
df.to_csv('aieee_2009.csv')

In [13]:
df.head()

,roll_no,name,mother_name,father_name,category,state_no,present,p1_marks,p2_marks,air_btech,air_cat_btech,state_btech,state_cat_btech,air_barch,air_cat_barch,state_barch,state_cat_barch
0,22500416,SUNNY LALLER,SHARDA DEVI,DALBIR SINGH LALLER,Category: GEN\r\n\r\n,State Code of Eligibility: 13,True,26,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,687686,414972,34288,23484,------,------,------,------
1,22700891,KULDEEP SHARMA,CHAMPA DEVI,MANANTRAM,Category: GEN\r\n\r\n,State Code of Eligibility: 14,True,14,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,810423,479425,9337,6689,------,------,------,------
2,21415832,TEJPARTAP SINGH,HERJEET KAUR,TARLOCHAN SINGH,Category: GEN\r\n\r\n,State Code of Eligibility: 28,False,None,None,None,None,None,None,None,None,None,None
3,21402077,HARJINDER SINGH,SUKHDEV KAUR,RANJIT SINGH,Category: GEN\r\n\r\n,State Code of Eligibility: 34,True,87,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,164867,114788,2714,2270,------,------,------,------
4,20600071,THYNALA SETHU DHARANIDHAR,THYNALA LAKSHMI RAJYAM,THYNALA VIJAYA KUMAR,Category: OBC\r\n\r\n,State Code of Eligibility: 02,True,194,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,22354,4249,3630,928,------,------,------,------