In [4]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /home/souvic/.conda/envs/py38/lib/python3.8/site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /home/souvic/.conda/envs/py38/lib/python3.8/site-packages (from BeautifulSoup4) (2.2.1)

In [3]:
import pickle
import pandas as pd
from bs4 import BeautifulSoup

In [1]:
# path
AIEEE = '../../../jalend/aieeedata/'
AIEEE_2004 = AIEEE+'2004.p'
AIEEE_2005 = AIEEE+'2005.p'
AIEEE_2006 = AIEEE+'2006.p'
AIEEE_2007 = AIEEE+'2007.p'
AIEEE_2008 = AIEEE+'2008.p'

In [5]:
with (open(AIEEE_2004, "rb")) as openfile:
    ai_09 = pickle.load(openfile)

In [6]:
rolls = ai_09.keys()

In [7]:
rn = []
for key in rolls:
    rn.append(key)

In [8]:
# Paper 1: Physics, Chemistry &amp; Mathematics
# Paper 2: Mathematics, Aptitude Test &amp; Drawing

In [33]:
info

[<td align="center"><font face="arial" size="2"><b> B.E./B.Tech</b> </font></td>,
 <td align="center"><font face="arial" size="2"><b> B.Arch </b></font></td>,
 <td align="center"><font face="arial">232575 <font color="green" size="2"><b>+</b></font></font></td>,
 <td align="center"><font face="arial">------ <font color="green" size="2"><b></b></font></font></td>,
 <td align="center"><font face="Arial" size="2"> 11244 </font></td>,
 <td align="center"><font face="Arial" size="2">------ </font></td>]

In [ ]:
data = []
count = 0
for elem in rn:
#     elem = 21406522
    student = []
    count = count+1
    if count%10000 == 0:
        print(count)
        df = pd.DataFrame(data, columns=['roll_no','name','father_name','present','p1_marks','p2_marks','p3_marks','p4_marks','air_btech','state_btech','air_barch','state_barch','air_bpharm','state_bpharm','state_no'])
    if ai_09[elem] == "":
        continue
    soup = BeautifulSoup(ai_09[elem],'html.parser')
    tab  = soup.find_all('table', align="center", border="0", width="500")
    info0 = tab[0].find_all('td', align="left")
    roll_no = info0[0].string
    name = info0[1].string
    father_name = info0[2].string
    
    if len(tab) < 2:
        present = False
        student.append(present)
    else :
        info1 = tab[1].find_all('td', align='right')
        p1_marks = info1[1].string
        p2_marks = info1[2].string
        p3_marks = info1[3].string
        p4_marks = info1[4].string
        student= student+([roll_no, name, father_name])
        taba = soup.find_all('table',width='400')
        present = True
        state = tab[2].find_all('tr', align='left')[0].find_all("td")[0].text
        info = tab[2].find_all('td', align='center')
        air_btech = info[3].text
        air_barch = info[4].text
        air_bpharm = info[5].text
        state_btech = info[6].text
        state_barch = info[7].text
        state_bpharm = info[8].text
        
        #state=tab[2].find_all('td', align='left')[0].text
#         print(name,":", roll_no, ":", mother_name,":", father_name, ":", category,":",state_no,":",p1_marks,":",p2_marks,":")
#         print(air_btech, ":", air_cat_btech,":", state_btech, ":",state_cat_btech,":", air_barch,":", air_cat_barch,":",state_barch,":",state_cat_barch)
        student=student+([present, p1_marks, p2_marks, p3_marks, p4_marks, air_btech, state_btech,air_barch, state_barch,air_bpharm, state_bpharm,state])
#     import pdb; pdb.set_trace()
#     break
    data.append(student)

In [31]:
info

[<td align="center"><font face="arial" size="2"><b> B.E./B.Tech</b> </font></td>,
 <td align="center"><font face="arial" size="2"><b> B.Arch </b></font></td>,
 <td align="center"><font face="arial">232575 <font color="green" size="2"><b>+</b></font></font></td>,
 <td align="center"><font face="arial">------ <font color="green" size="2"><b></b></font></font></td>,
 <td align="center"><font face="Arial" size="2"> 11244 </font></td>,
 <td align="center"><font face="Arial" size="2">------ </font></td>]

In [66]:
soup

<html>
<head>
<style media="print" type="text/css">
.dontprintme { display: none; }
</style>
<script language="javascript">
<!--
function newwin()
{
if (self != top)
top.location.href="cbseaieee.htm";
}
function visitSite(url){
mywin=window.open("","goidisplaywin","width=600,height=350,screenX=100,screenY=0,scrollbars=yes,menubar=yes,resizable=yes,status=yes,toolbar=yes,directories=no,location=yes");
mywin.location.href=url;
mywin.focus();
}
//-->
</script>
<title> CBSE - ALL INDIA ENGINEERING / PHARMACY / ARCHITECTURE ENTRANCE EXAMINATION 2004 </title>
</head>
<body alink="#3333cc" bgcolor="#ffffff" leftmargin="0" link="#3333cc" marginheight="0" marginwidth="0" onload="newwin()" text="#000000" topmargin="0" vlink="#3333cc">
<table bgcolor="#373abe" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr align="left" valign="top">
<td width="5%"><img height="69" src="../images/cbse1.gif" width="67"/></td>
<td valign="center" width="95%">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr align="right" valign="bottom">
<td><font color="#ffffff" face="Arial, Helvetica, sans-serif" size="2"><b><font size="3">http://cbseresults.nic.in   </font></b></font></td>
</tr>
<tr>
<td><img height="31" src="../images/cbse2.gif" width="263"/></td>
</tr>
</table>
</td>
</tr>
</table>
<table bgcolor="#373abe" border="0" cellpadding="0" cellspacing="0" height="30" width="100%">
<tr>
<td><img height="26" src="../images/cbse3.gif" width="408"/><font face="Arial, Helvetica, sans-serif" size="3"><font color="#ffffff"><b><font size="4">
</font></b></font> </font></td>
<td>
<div align="right"><font face="Arial, Helvetica, sans-serif" size="3"><font color="#ffffff"><b><font size="4">
        Examination Results 2004   </font></b></font> </font></div>
</td>
</tr>
</table><div align="right"><strong>
Brought to you by <a href="javascript:visitSite('http://home.nic.in')">National Informatics Centre</a>   <br/><br/></strong></div>
<br/>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="790">
<tr>
<td align="center">
<font color="#3333CC" face="Arial, Helvetica, sans-serif" size="3">
<strong>ALL INDIA ENGINEERING / PHARMACY / ARCHITECTURE ENTRANCE EXAMINATION <br/>(AIEEE - 2004)
</strong></font></td>
</tr>
</table>
<table align="center" width="600"><tr><td align="right">
<input class="dontprintme" name="Print" onclick="javascript:window.print();return false" type="button" value="Print"/>
</td></tr></table>
<br/>
<table align="center" cellpadding="0" cellspacing="0" height="10" width="600">
<tr bgcolor="#373abe"><td></td></tr>
</table>
<table align="center" border="0" width="500">
<tr>
<td width="100">
<font face="Arial" size="2"><strong>Roll No:</strong></font>
</td>
<td align="left" width="300"><font face="Arial" size="2"><strong> 21631761 </strong></font></td>
</tr>
<tr>
<td width="100">
<font face="Arial" size="2"><strong>Name:</strong></font>
</td>
<td align="left" width="300"><font face="Arial" size="2"><b> PAURUSH PRATEEK </b></font></td>
</tr>
<tr>
<td width="100">
<font face="Arial" size="2"><strong>Father's Name:</strong></font>
</td>
<td align="left" width="300"><font face="Arial" size="2"><b> SRI KAMESHWAR SINGH </b></font></td>
</tr>
</table>
<table align="center" border="0" width="500">
<tr bgcolor="lightblue">
<td><font face="arial" size="2"><b>Paper  </b></font></td>
<td align="center"><font face="arial" size="2"><b>   Subjects   </b> </font></td>
<td align="right"><font face="arial" size="2"><b>Marks Obtained</b></font></td>
</tr>
<tr>
<td>
<font face="Arial" size="2">Paper-1 </font>
</td>
<td>
<font face="Arial" size="2">Physics &amp; Chemistry</font>
</td>
<td align="right"><font face="Arial" size="2"><b>   30 </b></font></td>
</tr>
<tr>
<td>
<font face="Arial" size="2">Paper-2 </font>
</td>
<td>
<font face="Arial" size="2">Mathematics</font>
</td>
<td align="right"><font face="Arial" size="2"><b>

  11

 </b></font></td>
</tr>
<tr>
<td>
<font face="Arial" size="2">Paper-3 </font>
</td>
<td>
<font face="Arial" size="2">Botany &amp; Zoology</font>
</td>
<td align="right"><font face="Arial" size="2"><b>
 NA </b></font></td>
</tr>
<tr>
<td>
<font face="Arial" size="2">Paper-4 </font>
</td>
<td>
<font face="Arial" size="2">Aptitude Test</font>
</td>
<td align="right"><font face="Arial" size="2"><b>

  AB </b></font></td>
</tr>
</table>
<table align="center" cellpadding="0" cellspacing="0" height="2" width="500">
<tr bgcolor="lightblue"><td></td></tr>
</table>
<br/>
<table align="center" border="0" cellpadding="2" cellspacing="0" width="500">
<tr bgcolor="lightblue">
<td><font face="arial" size="2"><b> </b></font></td>
<td align="center"><font face="arial" size="2"><b> B.E./B.Tech</b> </font></td>
<td align="center"><font face="arial" size="2"><b> B.Arch </b></font></td>
<td align="center"><font face="arial" size="2"><b>  B.Pharm </b></font></td>
</tr>
<tr>
<td><font face="arial"><b><font face="arial" size="2">All India Rank</font></b></font></td>
<td align="center"><font face="arial">217892 <font color="green" size="2"><b></b></font></font></td>
<td align="center"><font face="arial"> 58214 <font color="green" size="2"><b></b></font></font></td>
<td align="center"><font face="arial">------ <font color="green" size="2"><b></b></font></font></td>
</tr>
<tr align="left"> <td><b><font face="arial" size="2">State Rank</font></b><font face="arial" size="2">
<br/>( State code of eligibility : 10  )</font> </td>
<td align="center"><font face="Arial" size="2"> 15519 </font></td>
<td align="center"><font face="Arial" size="2">  4722 </font></td>
<td align="center"><font face="Arial" size="2">------</font> </td></tr>
<tr>
<td colspan="4"></td>
</tr>
<tr>
<td align="left"> <font face="Arial" size="2"><b>Uttaranchal</b><br/>
(State code of eligibility/State code of domicile)
  </font></td>
<td align="center"><font face="Arial" size="2">------ </font></td>
<td align="center"><font face="Arial" size="2">------ </font></td>
<td align="center"><font face="Arial" size="2">------</font> </td>
</tr>
</table>
<br/>
<table align="center" cellpadding="0" cellspacing="0" height="2" width="500">
<tr bgcolor="lightblue"><td></td></tr>
</table>
<table align="center" width="500">
<tr>
<td>
<font face="arial" size="2"><b>
Remarks: <font color="green"><b>Not Eligible for Central Councelling</b></font>
</b></font>
</td>
</tr>
</table>
<br/>
<table align="center" cellpadding="0" cellspacing="0" height="10" width="600">
<tr bgcolor="#373abe"><td></td></tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td><font color="#000000" face="Arial, Helvetica, sans-serif" size="2"><b>

Note: </b>
<ul><li>
For details on counselling, Please visit
 <b><a href="http://ccb.nic.in">http://ccb.nic.in</a> or <a href="http://aieee.nic.in">http://aieee.nic.in</a></b><br/>
</li>
<li>
 Cut off score for the purpose of counselling has been decided by Central Counselling Board.
</li>
<li>
State Ranks are based on State Code of Eligibility ie. State from where the candidate has passsed +2 examination.  Those who have not filled up State Code of
eligibility, their State rank has not been indicated.  State rank is privisional subject to verification of documents at the time of counselling.
</li>
</ul>
</font></td>
</tr>
</table>
<hr align="center" width="700"/>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
<tr> <td>
<font size="2"><font color="#000000" face="Arial, Helvetica, sans-serif">
<b>Disclaimer:</b>
Neither NIC nor
            CBSE is responsible for any inadvertent error that may have crept in
            the results being published on NET. The results published on net are
            for immediate information to the examinees. These cannot be treated as
      original Score card. Original Score cards are under dispatch by the Board.

     </font>
</font></td></tr>
<tr align="middle" bgcolor="#c2dbf8" valign="baseline">
<td height="23">
<div align="center">
<font color="#000000" face="Arial, Helvetica, sans-serif" size="2"><b>
<a href="javascript:visitSite('http://home.nic.in')">Designed,
        Developed and Hosted by National
        Informatics Centre</a>
</b></font></div>
</td>
</tr>
</table>
</body>
</html>

In [ ]:
df = pd.DataFrame(data, columns=['roll_no','name','father_name','present','p1_marks','p2_marks','p3_marks','p4_marks','air_btech','state_btech','air_barch','state_barch','air_bpharm','state_bpharm','state_no'])

In [ ]:
df.shape

In [ ]:
df.to_csv('aieee_2004.csv')

In [18]:
print(1)

1

In [11]:
df.head()

,roll_no,name,father_name,present,p1_marks,p2_marks,p3_marks,p4_marks,air_btech,state_btech,state_no
0,False,None,None,None,None,None,None,None,None,None,None
1,False,None,None,None,None,None,None,None,None,None,None
2,21302689,VIKAS KUMAR,KAMLA SINGH,True,41,\r\n\r\n 29\r\n\r\n,\r\n NA,\r\n\r\n NA,161996,13852,State Rank\n( State code of eligibility : 05 )
3,21403036,AKHILESH KHANNA,D KHANNA,True,74,\r\n\r\n 60\r\n\r\n,\r\n NA,\r\n\r\n NA,85752,1476,State Rank\n( State code of eligibility : 06 )
4,21624526,PRIYANKA GUPTA,SATYA PRAKASH GUPTA,True,93,\r\n\r\n 64\r\n\r\n,\r\n NA,\r\n\r\n NA,68962,5820,State Rank\n( State code of eligibility : 10 )