In [1]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /home/souvic/.conda/envs/py38/lib/python3.8/site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /home/souvic/.conda/envs/py38/lib/python3.8/site-packages (from BeautifulSoup4) (2.2.1)

In [2]:
import pickle
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
# path
AIEEE = '../../../jalend/aieeedata/'
AIEEE_2004 = AIEEE+'2004.p'
AIEEE_2005 = AIEEE+'2005.p'
AIEEE_2006 = AIEEE+'2006.p'
AIEEE_2007 = AIEEE+'2007.p'
AIEEE_2008 = AIEEE+'2008.p'
AIEEE_2009 = AIEEE+'2009.p'
AIEEE_2010 = AIEEE+'2010.p'
AIEEE_2011 = AIEEE+'2011.p'

In [4]:
with (open(AIEEE_2008, "rb")) as openfile:
    ai_09 = pickle.load(openfile)

In [5]:
rolls = ai_09.keys()

In [6]:
rn = []
for key in rolls:
    rn.append(key)

In [7]:
# Paper 1: Physics, Chemistry &amp; Mathematics
# Paper 2: Mathematics, Aptitude Test &amp; Drawing

In [12]:
data = []
count = 0
for elem in rn:
    student = []
    count = count+1
    if count%10000 == 0:
        print(count)
        df = pd.DataFrame(data, columns=['roll_no','name','mother_name','father_name','present','state','p1_marks','p2_marks','air_btech','state_btech','air_barch','state_barch'])
    if ai_09[elem] == "":
        continue
    soup = BeautifulSoup(ai_09[elem],'html.parser')
    tab  = soup.find_all('table', align="center", border="0", width="500")
    info0 = tab[0].find_all('td', align="left")
    roll_no = info0[0].string
    name = info0[1].string
    mother_name = info0[2].string
    father_name = info0[3].string
    student= student+([roll_no, name, mother_name, father_name])
    taba = soup.find_all('table',width='400')
    if len(tab) <= 2:
        present = False
        student.append(present)
#         print(taba[0].text,":",elem)
    else :
        present = True
        info2 = tab[1].find_all('td', align='right')
        p1_marks = info2[1].string
        p2_marks = info2[2].string
        state = tab[2].find_all('tr', align='left')[0].find_all("td")[0].text
        info = tab[2].find_all('td', align='center')
        air_btech = info[2].text
        state_btech = info[4].text
        air_barch = info[3].text
        state_barch = info[5].text
        student=student+([present,state, p1_marks, p2_marks, air_btech, state_btech, air_barch, state_barch])
#     import pdb; pdb.set_trace()
    data.append(student)
#     break

10000
20000
30000
40000
50000
60000
70000
80000

In [13]:
df = pd.DataFrame(data, columns=['roll_no','name','mother_name','father_name','present','state_no','p1_marks','p2_marks','air_btech','state_btech','air_barch','state_barch'])

In [14]:
df.shape

(95829, 12)

In [15]:
df.to_csv('new_data/aieee_2008.csv')

In [16]:
df.head()

,roll_no,name,mother_name,father_name,present,state_no,p1_marks,p2_marks,air_btech,state_btech,air_barch,state_barch
0,22103460,BALJEET SINGH BHATI,KELA BHATI,RAMESH KUMAR BHATI,True,State Rank\n( State code of eligibility : 13 ),42.00,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,232575 +,11244,------,------
1,20606667,ARISAM MONIKA,ARISAM GAJALAKSHMI,ARISAM VENKATESWARA RAO,True,State Rank\n( State code of eligibility : 02 ),-4.00,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,689939,68081,------,------
2,28023820,SOURABH AGNIHOTRI,INDU AGNIHOTRI,ANIL KUMAR AGNIHOTRI,True,State Rank\n( State code of eligibility : 33 ),20.00,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,416052,64316,------,------
3,27712778,CHANDRA PRAKASH,RAM SWAROOPI DEVI,NINUA RAM,True,State Rank\n( State code of eligibility : 33 ),-36.00,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,791255,125153,------,------
4,21303875,ZISHAN AHMAD,ISHRAT JAHAN,FAIZ AHMAD,True,State Rank\n( State code of eligibility : 05 ),-30.00,\r\n\r\nNot Applicable/Not Applied\r\n\r\n,788416,57780,------,------

Add labels

In [17]:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="-1"    
import tensorflow as tf

In [18]:
def vocab():
    alpha = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
    special = [' ']
    vocab = alpha+special+['END']

    return vocab
    
def getIndex(df, maxlen, file):
    voc = vocab()
    char_index = dict((c, i) for i, c in enumerate(voc))
    
    X = []
    next_name = False
    
    # Club all the whitespaces
    
    trunc_X = [str(i).lower()[0:maxlen] for i in df['name']]
    mask = []
    for i in range(len(trunc_X)):
        name = trunc_X[i]
        tmp = []
        for char in str(name):
            if char not in voc:
                with open(file,'a') as f:
                    f.write(name+'\n')
                print(name)
                next_name = True
                break
            else:
                tmp.append(char_index[char])
        if next_name:
            mask.append(False)
            next_name = False
            continue
        mask.append(True)
        for k in range(0,maxlen - len(str(name))):
            tmp.append(char_index["END"])
        X.append(tmp)
            
    return np.asarray(X), df[mask]

In [19]:
import re
import numpy as np

def preprocess_df(df):
    df['name'] = [str(name).lower() for name in df['name']]
    df['name'] = [str(name).strip() for name in df['name']]
    df['name'] = [re.sub('[^a-zA-Z]+', ' ', str(name)) for name in df['name']]
    df['name'] = [re.sub('[ \t\n]+',' ', str(name)) for name in df['name']]
    df['name'].replace('', np.nan, inplace=True)
    df = df[df['name']!='nan']
    df.dropna(subset=['name'],inplace=True)
    return df

In [20]:
def returnGenderPred(df, model):
    test_x, df = getIndex(df, 30, 'oov.txt')
    pred = model.predict(np.asarray(test_x), verbose = 1)
    y_pred = np.argmax(pred, axis =1)
    df['Gender'] = y_pred
    return df

def returnCastePred(df, model):
    df = preprocess_df(df)
    test_x, df = getIndex(df, 30, 'oov.txt')
    pred = model.predict(np.asarray(test_x), verbose = 1)
    y_pred = np.argmax(pred, axis =1)
    df['Caste'] = y_pred
    return df

In [21]:
from keras.models import load_model


def get_gender_model():
    filename = "/home/souvic/mounted/btp/vahini/Models/ERTrain/SavedModels/FinalSet/CharLSTM/ERModel/ERModel"
    model = load_model(filename)
    return model

def get_caste_model():
    filename = "/home/souvic/mounted/btp/vahini/Name2Demographics/Models/AIEEEData/CNNModel/SavedModel/CasteModel"
    model = load_model(filename)
    return model

In [22]:
gender_model = get_gender_model()
caste_model = get_caste_model()

WARNING:tensorflow:SavedModel saved prior to TF 2.5 detected when loading Keras model. Please ensure that you are saving the model with model.save() or tf.keras.models.save_model(), *NOT* tf.saved_model.save(). To confirm, there should be a file named "keras_metadata.pb" in the SavedModel directory.

2022-02-14 23:12:23.201340: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2022-02-14 23:12:23.201440: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:169] retrieving CUDA diagnostic information for host: obelix
2022-02-14 23:12:23.201458: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:176] hostname: obelix
2022-02-14 23:12:23.201953: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:200] libcuda reported version is: 470.86.0
2022-02-14 23:12:23.202020: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:204] kernel reported version is: 470.86.0
2022-02-14 23:12:23.202034: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:310] kernel version seems to match DSO: 470.86.0
2022-02-14 23:12:23.202859: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [23]:
df = pd.read_csv("new_data/aieee_2008.csv")
df = preprocess_df(df)
df = returnGenderPred(df, gender_model)
df = returnCastePred(df, caste_model)
del df['Unnamed: 0']
df.to_csv("new_data/aieee_2008.csv")

2995/2995 [==============================] - 957s 319ms/step
2995/2995 [==============================] - 6s 2ms/step